### See DATA Science Folder

## Measures of Central Tendency Part 2

In [1]:
### mean (Avarge)

In [2]:
age=[12,13,45,16,18]

In [3]:
(12+13+18+45+16)/5

20.8

In [4]:
import numpy as np
np.mean(age)

20.8

In [5]:
weight =[49,56,32,18,52,26,32,14,52]

In [7]:
np.mean(weight)

36.77777777777778

In [8]:
weight =[49,56,32,18,52,26,32,14,52,1000]

In [9]:
np.mean(weight)

133.1

In [ ]:
### median

In [10]:
np.median(weight)

40.5

In [11]:
### mode

In [12]:
from scipy import stats

In [13]:
stats.mode(weight)

/tmp/ipykernel_97/1102139219.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(weight)

ModeResult(mode=array([32]), count=array([2]))

## Measures of Dispersion Part 2

In [1]:
ages = [12,23,56,21,18,96,23,12]

In [2]:
import numpy as np

In [3]:
mean = np.mean(ages)

In [4]:
mean

32.625

In [5]:
var = np.var(ages)

In [6]:
var

743.484375

In [7]:
std = np.std(ages)

In [8]:
std

27.266909890928236

In [9]:
import pandas as pd

In [14]:
data = [[10,12,3,5000],[23,42,36,12],[96,58,12,53]]

In [15]:
data

[[10, 12, 3, 5000], [23, 42, 36, 12], [96, 58, 12, 53]]

In [28]:
df = pd.DataFrame(data,columns=["A","B","C","D"])

In [29]:
df

    A   B   C     D
0  10  12   3  5000
1  23  42  36    12
2  96  58  12    53

In [30]:
df.var()

A    2.149000e+03
B    5.453333e+02
C    2.910000e+02
D    8.225772e+06
dtype: float64

In [32]:
df.var(axis=1)

0    6.229199e+06
1    1.802500e+02
2    1.180917e+03
dtype: float64

## Covariance Correlation Part 2

In [2]:
import seaborn as sns

In [14]:
df = sns.load_dataset('healthexp')
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

### Covariance

In [16]:
import numpy as np

In [18]:
df.cov()

/tmp/ipykernel_92/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

### Corelation

In [20]:
### Spearman Corelation
df.corr(method='spearman')

/tmp/ipykernel_92/3140184598.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [22]:
### Pearson Corelation
df.corr() ## by defult the method is equal to the pearson

/tmp/ipykernel_92/207075374.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr() ## by defult the method is equal to the pearson

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [25]:
df1 =sns.load_dataset('penguins')

In [26]:
df1.corr()

/tmp/ipykernel_92/473017434.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.corr()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.235053,0.656181,0.595110
bill_depth_mm,-0.235053,1.000000,-0.583851,-0.471916
flipper_length_mm,0.656181,-0.583851,1.000000,0.871202
body_mass_g,0.595110,-0.471916,0.871202,1.000000

In [27]:
# pdf means Probablity Distrubution Function 
# It is created by smoothing the histrogram